# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/conf.py')
astroid
jinja2
pycodestyle>=2.6.0,<3
sphinx>=6,<7
sphinx-autoapi>=1.7.0
sphinx-autodoc-typehints
sphinx-paramlinks>=0.4.1
sphinxcontrib-redoc>=1.6.0
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
