# doc deps required because of linkchecks
-r requirements.txt
-r requirements-doc.txt
autopep8
bandit
bump2version==1.0.1
codacy-coverage>=1.3.11
coverage>=5.5
doc8>=0.8
docformatter
flake8
flake8-docstrings
flake8-quotes
flask_webtest
isort>5.5
mock
pylint>=2.11,!=2.12,!=2.15,<3
pylint-flask
pylint-quotes
pytest
responses
safety
tox
unify
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
