{% extends "layout.html" %}
{% block body %}
    <table class="key_value">
    {% for key in Tags %}
        <tr>

        {% if Tags[key] is mapping %}
        <td class="flash col-key">{{ key }}</td>
        <td class="flash col-value"></td>
            {% for subkey in Tags[key] %}
            <tr>
            <td class=flash><ul><li>{{ subkey }} : </li></ul></td>
            <td class=flash>{{ Tags[key][subkey] }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <td class="flash col-key">{{ key }} : </td>
        <td class="flash col-value">{{ Tags[key] }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}